.cls-1,
.cls-100,
.cls-101,
.cls-102,
.cls-103,
.cls-104,
.cls-105,
.cls-106,
.cls-110,
.cls-121,
.cls-122,
.cls-123,
.cls-124,
.cls-125,
.cls-126,
.cls-127,
.cls-128,
.cls-129,
.cls-130,
.cls-131,
.cls-132,
.cls-133,
.cls-136,
.cls-137,
.cls-138,
.cls-139,
.cls-140,
.cls-141,
.cls-142,
.cls-143,
.cls-144,
.cls-145,
.cls-146,
.cls-147,
.cls-148,
.cls-65,
.cls-66,
.cls-67,
.cls-68,
.cls-69,
.cls-70,
.cls-71,
.cls-72,
.cls-73,
.cls-74,
.cls-75,
.cls-76,
.cls-77,
.cls-78,
.cls-79,
.cls-80,
.cls-81,
.cls-82,
.cls-83,
.cls-84,
.cls-85,
.cls-86,
.cls-87,
.cls-88,
.cls-89,
.cls-90,
.cls-91,
.cls-92,
.cls-93,
.cls-94,
.cls-95,
.cls-96,
.cls-97,
.cls-98,
.cls-99 {
  fill: none;
}

.controlPanel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  label {
    margin-right: 10px;
  }

  >div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .btn {
    font-size: 1em;
    &.imageFileLabel {
      background-color: #ffd741;
    }
  }
  
  #imageFile {
    position: absolute;
    top: -110vw;
    left: -110vw;
  }

  .colorPicker {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}
