<canvas-whiteboard #canvasWhiteboard
                  [options]="canvasOptions"
                  [strokeColor]="color"
                  [lineWidth]="cursorSize.value"
                  [imageUrl]='imageToDrawLink'>
</canvas-whiteboard>

<div class="controlPanel">
  <div>
    <button mat-icon-button (click)="canvasWhiteboard.undo()">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button (click)="canvasWhiteboard.redo()">
      <mat-icon>redo</mat-icon>
    </button>
    <button mat-icon-button (click)="canvasWhiteboard.clearCanvas()">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </div>
  <div>
    <label>
      Color:
      <input [(colorPicker)]="color" [style.background]="color" class="colorPicker" />
    </label>
    <label>
      Size:
      <mat-slider #cursorSize tickInterval="1" thumbLabel min="1" max="10"></mat-slider>
    </label>
  </div>

  <div>
    <label for="imageFile" class="mat-raised-button imageFileLabel btn">
      Upload image
      <input #imageFile id="imageFile" type="file" (change)="uploadFile($event.target.files[0], canvasWhiteboard)" accept="image/*">
    </label>
    <button mat-raised-button color="primary" class="btn" (click)="canvasWhiteboard.saveLocal()">
      Save image
    </button>
  </div>
</div>