.wrapper {
  display: flex;
  flex-wrap: wrap;

  .left-panel {
    flex: 0 0 25%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 768px){
      flex: 0 0 100%;
      height: auto;
    }
  }
  
  .right-panel {
    flex: 0 0 75%;
    max-width: 75%;
    @media screen and (max-width: 768px){
      flex: 0 0 100%;
      max-width: 100%;
      .right-control-panel {
        flex-wrap: wrap;
        h3 {
          flex: 100%;
        }
      }
    }
    .right-control-panel {
      h3 {
        margin: 0;
        text-align: center;
      }
    }

    .filters {
      padding-top:20px;
    }
  }

  .panel-item {
    width: 200px;
  }
}

.day-header {
  font-size: 60px;
  text-align: center;
  color:#555;
  margin-top: 20px;
}

.day-column h1 {
  color:#555;
  margin-top: -15px;
}

.day-column h4 {
  margin-top:0px;
}

.appointments-table {
  margin-top:10px;
  &tr td {
    /* width:100%;
    height: 40px; */
    font-size: 14px;
    border-left:1px solid #ccc;
    width:18.6%;
    padding-left: 15px;
  }
  &tr td:nth-child(1) {
    padding-left:4px;
  }
  &tr td .mat-icon {
    vertical-align: bottom;
    padding-top: 5px;
    margin-bottom: -2px;
  }
}

.appointment-cell-new {
  border-left:4px solid green;
}


.appointment-cell-followup {
  border-left:4px solid blue;
}

.appointment-cell-waiting-list {
  border-left:4px solid orange;
}

/* .time-cell {
  border-right: 3px solid green;
} */

.appointment-time {
  font-size: 14px;
}

.edit-icon {
  font-size: 18px;
  float: right;
  margin-top: 1px;
}

body {
  background: #fff;
}

.left-button {
  background: none;
  border:none;
  text-align: left;

}

.right-button {
  background: none;
  border:none;
  float: right
}

.left-button .mat-icon {
  font-size: 35px;
}

.right-button .mat-icon {
  font-size: 35px;
}

.appointments-top-bar {
  background: #fff;
}

.time-cell {
  text-align: center;
  width:7%;
}

.day-column-today {

}

// .rotate {

//   /* Safari */
//   -webkit-transform: rotate(-90deg);

//   /* Firefox */
//   -moz-transform: rotate(-90deg);

//   /* IE */
//   -ms-transform: rotate(-90deg);

//   /* Opera */
//   -o-transform: rotate(-90deg);

//   /* Internet Explorer */
//   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

//   }

  .fadeIn-from-right {
    animation: fadeIn-from-right 2.5s ease forwards;
  }


  @keyframes fadeIn-from-right {
    0% {
      opacity: 0;
      transform: translate(750px,0);
    }

    80% {
      opacity: 0;
    }


    100% {
      opacity: 1;
      transform: translate(0px,0);
    }
  }


  .fadeIn-from-left {
    animation: fadeIn-from-left 2.5s ease forwards;
  }


  @keyframes fadeIn-from-left {
    0% {
      opacity: 0;
      transform: translate(-750px,0);
    }

    80% {
      opacity: 0;
    }


    100% {
      opacity: 1;
      transform: translate(0px,0);
    }
  }

